* {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 0.9em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    width: 100%;
    height: auto;
}

header {
    position: sticky;
    top: 0;
    width: 100%; /* largura */
    /*height: 10%; */
    background: url("https://cdn.pixabay.com/photo/2017/02/08/12/46/moon-2048727_960_720.jpg") no-repeat center;
    background-size: cover;
    text-shadow: 1px 1px 0px rgb(236, 240, 2); /*sombreamento das fontes*/
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
}

.menu {
    list-style: none;
    display: flex; /*menu lado a lado */
    justify-content: space-between; /*Utiliza todo espaço disponivel*/
    /*align-items: center;*/
    font-size: clamp(0.1em, 0.6em + 1vw, 5em) /* Valores min, desejavel e max */
    
}

.menu li img {
    width: 19%; /* Tamanho da foto no menu superior fixo */
}

/*
@media only screen and (max-device-width: 900px){
    .main {width: 100%;}
}
*/

.main {
    color: rgba(243, 237, 237, 0.774);
    white-space: pre-line; /*espaços em branco dentro dos elementos são manipulados.*/
    width: 100%;
    justify-content: center;
    background: url("https://cdn.pixabay.com/photo/2014/04/05/11/38/bokeh-316425__340.jpg") center;
    /* background: url("https://cdn.pixabay.com/photo/2016/04/04/12/43/texture-1306790__340.jpg") center; */
    /* background: url("https://cdn.pixabay.com/photo/2016/10/07/14/42/space-1721695__340.jpg") center; */
    /* background: url("https://cdn.pixabay.com/photo/2014/04/05/11/38/bokeh-316425__340.jpg") center; */
    /* background: url("https://cdn.pixabay.com/photo/2016/07/28/14/40/space-1548139__340.jpg") center; */
    /* background: url("https://cdn.pixabay.com/photo/2016/06/23/16/07/background-1475670__340.jpg") center; */
    /* background: url("https://cdn.pixabay.com/photo/2016/08/04/14/04/space-1569133__340.jpg") center; */
    /* background: url("https://cdn.pixabay.com/photo/2017/10/12/20/15/photoshop-2845779__340.jpg") center; */
    /* background: url("https://cdn.pixabay.com/photo/2018/08/31/18/21/fantasy-3645269__340.jpg") center; */
    /* background: url("https://cdn.pixabay.com/photo/2018/02/22/14/58/nature-3173180__340.jpg") center; */
    /* background: url("https://cdn.pixabay.com/photo/2016/07/17/19/10/background-1524540__340.jpg") center; */
    /* background: url("https://cdn.pixabay.com/photo/2015/07/03/15/46/wallpaper-830417__340.jpg") center; */
    /* background: url("https://cdn.pixabay.com/photo/2017/02/19/14/30/water-2079907__340.jpg") center; */
    /* background: url("https://cdn.pixabay.com/photo/2017/12/26/02/57/sea-3039586__340.jpg") center; */
    /* background: url("https://cdn.pixabay.com/photo/2016/01/19/17/29/earth-1149733__340.jpg") center; */
    /* background: url("https://cdn.pixabay.com/photo/2018/05/20/11/40/flower-3415551__340.jpg") center; */
    /* background: url("https://cdn.pixabay.com/photo/2018/05/17/15/24/armillar-ball-3408811__340.jpg") center; */
    /* background: url("https://cdn.pixabay.com/photo/2017/10/20/01/06/north-star-2869817_960_720.jpg") no-repeat center;*/
    /*background: url("https://cdn.pixabay.com/photo/2016/04/02/19/40/moon-1303512__340.png") center;*/
    background-size: contain;
}

#intro {
    color: rgba(231, 233, 186, 0.87);
    text-align: center; 
}

.container {
    padding: 10px; /* espaço da section para as margens */
    text-align: center;
    display: flex; /* Lado a lado */
    flex-wrap: wrap; /* Quebra de linha  e row (padrao)*/
    align-items: center; /* flex-start; */
    justify-content: space-around;
}

.btn {
    background-color:rgba(12, 12, 2, 0.452);
    color: rgb(250, 250, 248);
    font-size: 18px;
    border: 1px solid rgb(183, 179, 199);
    border-radius: 12px;
    /*padding: 6px; /* espaço interno do botao */
    cursor: pointer;
    transition: all 0.5s;
    overflow: hidden;
    margin: 10px 0;
    font-weight: 600;/* Negrito */
}

.btn:hover {
    color: white;
}

.btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 165, 124);
    z-index: -1;
    border-radius: 0 0 50% 50%;
    height: 0%;
    transition: all 0.5s;
    text-decoration: none;
}

/*.btn:hover::before {
    height: 40%;
}*/

#batimentos {
    width: 380px;
    height: 180px;
    background-image: url("https://cdn.pixabay.com/photo/2018/04/12/04/26/blood-pressure-3312513_960_720.png");
    background-size: cover; /* contain */
}

#copas {
    width: 380px;
    height: 180px;
    background-image: url("https://static.mundoeducacao.uol.com.br/mundoeducacao/conteudo_legenda/ad7523a3d1a139039d9a33bdd76a9ddf.jpg");
    background-size: cover;
    color: rgb(0, 0, 158);
}

#olimpiadas {
    width: 380px;
    height: 180px;
    background-image: url("https://onlympics.com.br/wp-content/uploads/2019/01/Onlympics-jogos-olimpicos-1200x554.png");
    background-size: contain; /*imagem tamanho certo para a caixa*/
    text-transform: uppercase;
    font-size: 32px;
}

#tabuada {
    width: 380px;
    height: 180px;
    background-image: url("https://geniodamatematica.com.br/wp-content/uploads/2019/04/multiplicacao-tabela-de-pitagoras.png");
    background-size: cover;
    color: rgb(0, 0, 158);
    text-transform: uppercase;
    font-size: 46px;
}

#combustiveis {
    width: 380px;
    height: 180px;
    color: rgb(250, 0, 0);
    background-image: url("https://cdn.pixabay.com/photo/2016/08/15/22/20/fuel-1596622__340.jpg");
    background-size: cover;
}

#mediaIdade {
    width: 380px;
    height: 180px;
    background-size: cover;
    background-image: url("https://cdn.pensador.com/img/imagens/le/ge/legendas_para_foto_com_familia_f_l.jpg");
/*https://cdn.pixabay.com/photo/2016/04/01/08/58/boy-1299084_960_720.png*/
/*https://cdn.pixabay.com/photo/2017/08/08/15/37/family-2611748_960_720.jpg*/
/*https://cdn.pixabay.com/photo/2020/10/29/15/32/beach-5696492_960_720.jpg*/
}

#adivinharNumero {
    width: 380px;
    height: 180px;
    background-size: cover;
    color: rgb(225, 250, 0);
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/ee/Numbers.gif");
    background-size: contain;
    /*
    background-image: url("https://media.istockphoto.com/vectors/cartoon-of-a-crystal-ball-with-hands-hovering-over-it-vector-id472281537?s=612x612");
    */
}

#linhaColuna {
    width: 380px;
    height: 180px;
    background-size: cover;
    background-image: url("https://cdn.pixabay.com/photo/2013/03/13/04/24/building-93098_960_720.jpg");
}

#megaSena {
    width: 380px;
    height: 180px;
    background-size: cover;
    color: red;
    /*background-image: url("https://media.istockphoto.com/photos/lottery-balls-picture-id1054934320?s=612x612");*/
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/3c/Bolas-de-loteria.jpg");
}

#canvas {
    width: 380px;
    height: 180px;
    background-size: cover;
    color: red;
    background-image: url("https://cdn.pixabay.com/photo/2018/03/21/07/16/learning-3245792_960_720.jpg");
}

#damas {
    width: 380px;
    height: 180px;
    background-size: cover;
    background-image: url("https://cdn.pixabay.com/photo/2018/02/25/10/21/pattern-3180129_960_720.jpg");
}

#bandeiras {
    width: 380px;
    height: 180px;
    background-size: cover;
    color: red;
    background-image: url("https://cdn.pixabay.com/photo/2017/07/11/18/07/bolivia-2494518_960_720.jpg");
}

#canvasCondicionais {
    width: 380px;
    height: 180px;
    background-size: cover;
    color: blue;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvRQXSfdIS62ICCa9p0-MQeSaJSQSzaTtCUQ&usqp=CAU");
}

#canvasCrescente {
    width: 380px;
    height: 180px;
    background-size: cover;
    color: red;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/8c/Tabela_Crescimento_Meninas.svg");
    /* https://upload.wikimedia.org/wikipedia/commons/c/ce/Cyclin_Expression.svg */
}

#canvasParabola {
    width: 380px;
    height: 180px;
    background-size: contain;
    background-image: url("https://slidetodoc.com/presentation_image_h/28125f7d925d269b189d7980046e949c/image-12.jpg");
}

#seno {
    width: 380px;
    height: 180px;
    background-size: cover;
    color: red;
    background-image: url("https://cdn.pixabay.com/photo/2015/10/15/09/09/mathematics-989124_960_720.jpg");
}

#cliques {
    width: 380px;
    height: 180px;
    background-size: cover;
    color: red;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/32/Sunjang_Baduk_starting_position.png");
}

#botaoMouse {
    width: 380px;
    height: 180px;
    background-size: cover;
 
    background-image: url("https://cdn.pixabay.com/photo/2017/09/26/22/23/dark-green-2790337_960_720.png");
}

#paint {
    width: 380px;
    height: 180px;
    background-size: cover;
    color: red;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f9/Gif2.gif");
}

#animacoes {
    width: 380px;
    height: 180px;
    background-size: cover;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/de/Geostationary_orbit_animation.gif");
}

#tiroAlvo {
    width: 380px;
    height: 180px;
    background-size: cover;
    color: blue;
    background-image: url("https://media.istockphoto.com/vectors/hitting-the-target-vector-id1310235449?s=612x612");
}

#formEventos {
    width: 380px;
    height: 180px;
    background-size: cover;
    color: yellow;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/84/Keycloakify.gif");
}

#formArray {
    width: 380px;
    height: 180px;
    background-size: cover;
    background-image: url("https://cdn.pixabay.com/photo/2017/02/25/23/42/racism-2099029_960_720.png");
}

#objetos {
    width: 380px;
    height: 180px;
    background-size: cover;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4cw-kxwEH9frdwHQTSiOJcMeCxtbUZN04kw&usqp=CAU");
}

#dom {
    width: 380px;
    height: 180px;
    background-size: cover;
    color: red;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsQEt8uEEJWGjOqmjRAAceQ1lQO68C_g9aHg&usqp=CAU");
}

#imc {
    width: 380px;
    height: 180px;
    background-size: cover;
    color:red;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiDOCyM2r8w2Nccj58-m15DrNLC_mqeP1_BA&usqp=CAU");
}

.footer {
    display: flex; /*menu lado a lado */
    justify-content: space-between;
    text-shadow: 1px 1px 1px rgb(218, 221, 28);
    color:rgb(245, 245, 238);
    padding-top: 2%;
    text-align: center;
    justify-content: center;
}

.footer img {
    border-radius: 40%;
    animation: animate 4s linear infinite;
}

@keyframes animate
{
    0% {
        box-shadow: 0 0 0 0 rgba(221, 208, 21, 0.7), 0 0 0 0 rgba(209, 208, 135, 0.7);
    }
    40% {
        box-shadow: 0 0 0 40px rgba(55, 209, 201, 0), 0 0 0 0 rgba(186, 209, 55, 0.7);
    }
    80% {
        box-shadow: 0 0 0 50px rgba(55, 209, 201, 0), 0 0 0 30px rgba(55, 209, 201, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(55, 209, 201, 0), 0 0 0 30px rgba(55, 209, 201, 0);
    }
}

a {
    color: #fff;
    text-decoration: underline; /*insere uma linha sob o link*/
}

a:hover, a.active {
    background-color: rgb(3, 11, 24);
    color: rgb(184, 181, 26);
}

a:visited{
    color: #f8e7e4;
    font-weight: 400;
    text-decoration: none;
}
a:before {
    text-decoration: none;
}